html, body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-image: url(images/etrianwallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}

.kaban {
  height: auto;
  min-height: 10vh;
  width: auto;
}

.headertext {
  -webkit-backface-visibility: hidden;
  display: flex;
  min-width: 8vw;
  margin-bottom: -1frpx;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0;
  color: azure;
  border-radius: 50px;
  visibility: hidden;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 6vh;
  min-height: 4vh;
  font-weight: bold;
  transition: all 0.3s ease-out
}

.kaban:hover ~ .headertext {
  visibility: visible;
  background-color: rgb(104, 22, 53);
  opacity: 1;
}

.linkimage {
  display: flex;
  height: 5vh;
  min-height: 25px;
  width: auto;
  align-items: center;
}
.rolling {
  overflow: hidden;
}
.main {
  display: flex;
  justify-content: center;
  /* animation-duration: 1s;
  animation-name: slidein; */
  overflow: hidden;
  
}

.mainbar {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 10vh;
  min-height: 50px;
  width: 100vh;
  min-width: 200px;
  background-color: rgba(5, 29, 65, 0.842);
  border-radius: 25px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: 0.5s;
  overflow: hidden;

}

.mainbar:hover {
  opacity: 1;
}

.footer {
  position: absolute;
  /* right: 55px; */
  top: 0;
  /* height: auto; */
  /* width: 55px; */
  animation-duration: 60s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  overflow: hidden;
}

/* .footer:hover img {
  visibility: hidden;
} */

/* .footer:hover {
  position: fixed;
  left: 0;
  bottom: 0;
} */

/* .footer:hover img {
  transform: scaleX(-1);
} */

@keyframes slidein {
  0% {
    left: 0%;
    transform: rotateY(0deg);
  }
  49.5% {
    left: 95%;
    transform: rotateY(0deg);
  }
  50.5% {
    left: 95%;
    transform: rotateY(180deg);
  }
  99.5% {
    left: 0%;
    transform: rotateY(180deg);
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 767px) {
  @keyframes slidein {
    0% {
      left: 0%;
      transform: rotateY(0deg);
    }
    49.5% {
      left: 70%;
      transform: rotateY(0deg);
    }
    50.5% {
      left: 70%;
      transform: rotateY(180deg);
    }
    99.5% {
      left: 0%;
      transform: rotateY(180deg);
    }
    100% {
      left: 0%;
    }
  }
}
