html, body {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(images/etrianwallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.kaban {
  height: auto;
  min-height: 10vh;
  width: auto;
}

.headertext {
  display: flex;
  min-width: 8vw;
  margin-bottom: -1frpx;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0.9;
  border-radius: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  visibility: hidden;
  height: 6vh;
  min-height: 4vh;
}

.kaban:hover ~ .headertext {
  visibility: visible;
  background-color: rgb(104, 22, 53);
}

.linkimage {
  display: flex;
  height: 5vh;
  min-height: 25px;
  width: auto;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  
}

.mainbar {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 10vh;
  min-height: 50px;
  width: 100vh;
  min-width: 200px;
  background-color: rgba(5, 29, 65, 0.842);
  border-radius: 25px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.7;
}

.mainbar:hover {
  opacity: 1;
}

.footer {
  position: fixed;
  right: 55px;
  bottom: 0;
  height: auto;
  width: 55px;
}

.footer:hover {
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer:hover img {
  transform: scaleX(-1);
}