html, body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-image: url(images/640381.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.linkimage {
  display: flex;
  height: 5vh;
  min-height: 25px;
  width: auto;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  
}

.mainbar {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 10vh;
  min-height: 50px;
  width: 100vh;
  min-width: 200px;
  background-color: rgba(5, 29, 65, 0.842);
  border-radius: 25px;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.7;
}

.mainbar:hover {
  opacity: 1;
}

.footer {
  position: fixed;
  right: 55px;
  bottom: 0;
  height: auto;
  width: 55px;
}

.footer:hover {
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer:hover img {
  transform: scaleX(-1);
}